body {
  background: url(java-script.jpg) no-repeat center center;
  background-size: cover;
  background-position: 50% 20%;
}

.nav-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
}
.nav-wrap:after {
  clear: both;
  content: "";
  display: block;
}
.nav-wrap .navigation {
  margin: 35px 0;
}

.header {
  background: #000;
  padding: 2.25em .75em;
  outline: none;
  box-align: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  box-pack: start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  z-index: 3;
  box-shadow: 0px 1px 15px #000;
}
.header .nav-wrap {
  width: 75em;
  position: relative;
  padding: 0;
}
.header .nav-wrap #nav-brand {
  /*background: url("") top no-repeat;*/
  background-size: contain;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 50px;
  width: 203px;
  margin: 0;
  overflow: hidden;
  /*text-indent: 110%;*/      /*used for background-image*/
  white-space: nonav-wrap;
  color: white;
  transform: translateY(-50%);
}
.header .nav-wrap #nav-brand a {
  display: block;
  height: 100%;
  width: 100%;
}

.menu-item-has-children {
  position: relative;
  margin-right: 1.5em;
}
.menu-item-has-children:after {
  font-family: FontAwesome;
  font-size: 1rem;
  content: "\f107";
  color: #ffd700;
  position: absolute;
  top: 0em;
  right: -1.25rem;
}

.primary-navigation {
  box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.primary-navigation .menu-header-navigation-container .menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.primary-navigation .menu-header-navigation-container a {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all .2s ease;
}
.primary-navigation .menu-header-navigation-container a:hover {
  color: #c13333;
  cursor: pointer;
}
.primary-navigation .menu-header-navigation-container li {
  padding: 0 .75em;
}

a#nav-icon {
  display: none;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all .25s ease-in-out;
}

.nav-open .overlay {
  right: 320px;
}

/************** CHANGED TO FIXED 3/3/17 ADDED WIDTH 100 PERCENT *****/
#content, header.header {
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.menu:after {
  clear: both;
  content: "";
  display: block;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul:after {
  clear: both;
  content: "";
  display: block;
}
.menu a {
  text-decoration: none;
}

.menu.menu-horizontal li {
  display: inline-block;
}

.menu.menu-vertical li {
  margin: 0;
}
.menu.menu-vertical a {
  border-bottom: 1px solid #ccc;
  padding: .625rem;
}

.menu.dropdown ul.sub-menu {
  position: absolute;
  top: .85rem;
  left: -999em;
  float: left;
  z-index: 99999;
  padding-top: 2.6rem;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  opacity: 0;
  visibility: hidden;
}
.menu.dropdown ul.sub-menu a {
  height: auto;
  width: 12.5rem;
}
.menu.dropdown ul.sub-menu ul {
  left: -999em;
  top: 0;
}
.menu.dropdown ul.sub-menu li {
  margin: 0;
  background: #e3e3e3;
  width: 100%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid grey;
}
.menu.dropdown ul.sub-menu li:first-child {
  border-top: 2px solid #ffd700;
}
.menu.dropdown ul.sub-menu li:last-child {
  padding-right: 0.75em !important;
}
.menu.dropdown ul.sub-menu li a {
  padding: .75em;
  color: #595959;
}
.menu.dropdown ul.sub-menu li a:hover {
  color: #ffd700;
}
.menu.dropdown li {
  float: left;
  position: relative;
  margin-right: 3rem;
  font-size: 90% !important;
}
.menu.dropdown li a {
  color: #969696;
}

.menu.dropdown ul.sub-menu li.focus > ul, .menu.dropdown ul.sub-menu li:hover > ul {
  left: 100%;
}

.menu.dropdown .focus > ul, .menu.dropdown li:hover > ul {
  left: auto;
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.menu-toggle, .menu a {
  display: block;
}

@media screen and (min-width: 1360px) {
  .nav-wrap {
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .nav-open .overlay {
    right: 260px !important;
  }
}
@media screen and (max-width: 1024px) {
  .menu-item-has-children:after {
    font-family: FontAwesome;
    font-size: 1rem;
    content: "\f138";
    color: #000;
    position: absolute;
    top: .3rem;
    right: -1rem;
  }

  .menu.dropdown ul.sub-menu {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
  .menu.dropdown ul.sub-menu li {
    box-shadow: none;
  }

  a#nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    margin: 0;
    padding: 10px 35px 10px 0;
    cursor: pointer;
    visibility: visible;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
  }
  a#nav-icon span, a#nav-icon span:after, a#nav-icon span:before {
    display: block;
    position: absolute;
    height: 3px;
    width: 35px;
    top: 0;
    background: #ffd700;
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    content: '';
  }
  a#nav-icon span:before {
    top: 8px;
  }
  a#nav-icon span:after {
    top: 16px;
  }

  a#nav-icon.open span {
    background-color: transparent;
  }
  a#nav-icon.open span:after {
    top: 8px;
    left: 0;
    transform: rotate(-45deg);
  }
  a#nav-icon.open span:before {
    top: 8px;
    left: 0;
    transform: rotate(45deg);
  }

  .scrolled a#nav-icon {
    top: 40px;
  }

  .header .nav-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .header .nav-wrap #nav-brand {
    left: 1.25rem;
  }

  nav#off-canvas-nav.open ul:not(.sub-menu) {
    right: 0 !important;
  }
  nav#off-canvas-nav ul:not(.sub-menu) {
    position: fixed;
    background: #969696;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    width: 320px;
    min-height: 100vh;
    top: 0;
    right: -320px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li {
    float: none;
    clear: both;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #000;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li:last-child > a {
    display: block;
    line-height: 1.5;
    margin: 0;
    padding: 15px 30px;
    border: none;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li a {
    display: block;
    line-height: 1.5;
    margin: 0;
    padding: 15px 30px;
    border: none;
    color: #000;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children ul.sub-menu {
    box-shadow: inset 0px 0px 4px #000 !important;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children.open:hover > ul.sub-menu {
    display: block;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children.open:after {
    transform: rotate(90deg);
    transform-origin: 96% 30%;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children.open > ul.sub-menu {
    display: block;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children:after {
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children > ul.sub-menu {
    display: none;
    background: #878787 !important;
    border: none;
    box-shadow: none;
    height: inherit;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children > ul.sub-menu li {
    border: none;
    background: none;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children > ul.sub-menu li a {
    font-size: .9375rem;
    color: #000;
    padding: 6px 30px;
    border: none;
    width: 100%;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children > ul.sub-menu li a:before {
    content: "";
    font-family: FontAwesome;
    margin-right: 5px;
  }
  nav#off-canvas-nav ul:not(.sub-menu) li.menu-item-has-children:hover > ul.sub-menu {
    display: none;
    background: #444;
    border: none;
    box-shadow: none;
    height: inherit;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
  }

  .nav-open #content, .nav-open header.header {
    right: 320px !important;
  }

  #content, header.header {
    right: 0 !important;
    transition: all .3s ease-in-out;
  }
}
@media screen and (max-width: 1024px) and (max-width: 640px) {
  nav#off-canvas-nav ul:not(.sub-menu) {
    width: 260px !important;
    right: -260px !important;
  }

  .nav-open #content, .nav-open header.header {
    right: 260px !important;
  }
}